.body{
    background-image:url(img/background.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-inner img {
    width: 1080px;
    max-height: 600px;
}

.carousel-inner{
 height: 600px;
}


#header {
    background-color: #120c32;
    height: 100%;
    width: 100%;
}

.logo {
    height: 100px;
}

#header a{
    color: white;
}
#header a:hover{
    color: goldenrod;
}

/*contenido de la pag*/
.custom-box {
    background-color: black;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.custom-box h5{
    color: goldenrod;
}

.custom-box p{
    color: white;
    text-align: justify;
}

/*footer*/
#pie-pagina{
    background-color: #120c32;
    color: white;
}

.article-container{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 30px;
}



@keyframes animacaoPulante {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
/*clases para nosotros*/
.nos{
    background-color: rgb(110, 200, 255);
}


.color_ese{
    background-color:black;
}

.nos_img{
    width: 100%;
    height: 100%;
    align-items: center;
}

/*Carrosel*/
.carousel-item {
    width: 100%;
    max-width: 100%;
}

.carousel {
    margin: 0 auto;
}

/*Tarjetas*/

.col-lg-4{
    background-color: black;
    border: 5px solid #ccc;
    padding: 10px;
    text-align: center;
}

.container-marketing{
    text-decoration: none;
    font-style: italic;
    color: white;
}

.container-marketing h2{
    font-size: 36px;
    text-decoration: underline;
    color: goldenrod;
}

.form-control:focus {
    border-color: #120c32;
    box-shadow: 0 0 8px #2c2266;
}
.contact-modal {
    width: 600px;
    padding: 50px;
    margin: 30px auto;
}
.contact-modal h4 {
    font-size: 26px;
    display: inline-block;
}
.contact-modal .form-control, .contact-modal .btn  {
    min-height: 38px;
    border-radius: 1px;
    outline: none;
}
.contact-modal .btn-primary {
    min-width: 100px;
    background: #120c32;
    border: none;
}
.contact-modal .btn-primary:hover {
    background: goldenrod;
}
.contact-modal .btn-primary:focus {
    box-shadow: 0 0 8px rgba(132, 100, 202, 0.6);
}
.contact-modal .btn-link {
    color: #120c32;
}
.contact-modal label {
    opacity: 0.9;
    font-weight: normal;
    font-size: 95%;
}
.contact-modal textarea {
    resize: vertical;
}
.contact-modal.modal-dialog {
    width: 480px;
}
.contact-modal .modal-header {
    padding: 20px 35px 14px;
}
.contact-modal .modal-content {
    border-radius: 1px;
}
.contact-modal .close {
    position: absolute;
    right: 35px;
    top: 25px;
}
.contact-modal .modal-body {
    padding: 20px 35px 35px;
}
.hint-text {
    opacity: 0.8;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

input[type=text], input[type=password], input[type=email], input[type=date]{   
    width: 100%;   
    margin: 0 auto;  
    padding: 12px 20px;   
    display: block;   
    border: 2px solid black;
    box-sizing: border-box;   
}
button {   
    background-color: black;   
    width: 100%;  
    color: white;   
    padding: 15px;   
    margin: 10px 0px;   
    border: none;   
    cursor: pointer;
    text-align: center;   
}

#register .container-form{
    color: white;
}

#register .container-form input[type=text]{
    width: 350px;
    margin: 0 auto;  
    padding: 12px 20px;   
    display: block;   
    border: 2px solid goldenrod;
    box-sizing: border-box;
    align-items: center;   
}
#register .container-form input[type=password]{
    width: 350px;
    margin: 0 auto;  
    padding: 12px 20px;   
    display: block;   
    border: 2px solid goldenrod;
    box-sizing: border-box;
    align-items: center;   
}
#register .container-form input[type=email]{
    width: 350px;
    margin: 0 auto;  
    padding: 12px 20px;   
    display: block;   
    border: 2px solid goldenrod;
    box-sizing: border-box;
    align-items: center;   
}
#register .container-form input[type=date]{
    width: 350px;
    margin: 0 auto;  
    padding: 12px 20px;   
    display: block;   
    border: 2px solid goldenrod;
    box-sizing: border-box;
    align-items: center;   
}

#btnn{
    min-width: 100px;
    background: #120c32;
    border: none;
}

#register .container-form #btn:hover{
    background: goldenrod;
}
